* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  cursor: pointer;
  background-color: blueviolet
}

.base-zone {
  width: 100vw;
  height: 200px;
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #e9e9e9; */
}

.drop-zone {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background-color: #e9e9e9;
}

.box {
  touch-action: none;
  user-select: none;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #e9e9e9
}

button {
  width: 80px;
  height: 30px;
}