* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  padding: 10px 30px;
  background: linear-gradient(135deg, #0FF0B3 0%, #036ED9 100%);
}

.container.active {
  animation-name: background-change;
  animation-duration: 0.4688s;
  animation-iteration-count: infinite;
  transition: all ease-in-out 10s;
}

/* ////// TITLE - DESC \\\\\\ */

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.introduction h1 {
  font-size: 40px;
  margin-bottom: 10px;
  text-shadow: 3px 3px 0px rgba(21, 21, 77, .8);
  animation: text-beat;
  animation-duration: 0.4688s;
  animation-iteration-count: 6;
  transform: scale(1)
}

.introduction p {
  font-size: 18px;
  line-height: 1.3;
}

/* ////// DROP-ZONE \\\\\\ */

.drop-container {
  display: flex;
  align-items: center;
  position: relative;
}

.drop-zone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #c2c2c2;
  width: 350px;
  height: 350px;
  margin: 40px 0;
  border-radius: 175px;
  background-color: #ffffff;
  animation-name: grow;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  background-image: url("../images/drop-zone.png");
  background-position: center;
  background-repeat: no-repeat;
}

.drop-zone.active {
  animation-duration: 0.4688s;
  /* the length of 1 beat at 128BPM */
}

.audio-ux {
  width: 110px;
  height: 100px;
  padding-top: 60px;
  position: absolute;
  left: -140px;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  transform: translateY(-10px);
  background-image: url("../images/icon-earphones.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 50px;
}

.refresh-button, .lights-on {
  position: absolute;
  width: 70px;
  right: -95px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  transition: all ease-in-out 100ms;
  background-repeat: no-repeat;
  background-position-x: center;
}

.refresh-button {
  height: 55px;
  padding-top: 40px;
  transform: translateY(50px);
  background-image: url("../images/icon-refresh.svg");
  background-size: 30px;
}

.lights-on {
  padding-top: 55px;
  transform: translateY(-50px);
  background-image: url("../images/icon-light.svg");
  background-size: 45px;
}

.refresh-button:hover {
  transform: scale(1.2) translateY(40px);
}

.lights-on:hover {
  transform: scale(1.2) translateY(-40px);
}

/* ////// LABELS \\\\\\ */

.labels {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.labels .label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 20px;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

.label-techno {
  background-color: #c3ec52
}

.label-latino {
  background-color: #f9664f
}

.label-rock {
  background-color: #ffb941
}

/* ////// BASE-ZONE \\\\\\ */

.base-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.base-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 120px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: space-around;
  transition: all ease-in-out 500ms;
}

/* ////// BOX ELEMENTS \\\\\\ */

.box {
  touch-action: none;
  user-select: none;
  cursor: move;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 10px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.box.active {
  animation-duration: 2s;
  animation-name: glow;
  animation-iteration-count: infinite;
}

/* ////// ANIMATIONS \\\\\\ */

@keyframes text-beat {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0px 0px 20px 10px rgba(22, 22, 74, 0.3);
  }
  100% {
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
  }
}

@keyframes background-change {
  0% {
    background: linear-gradient(135deg, #0FF0B3 0%, #036ED9 100%);
  }
  25% {
    background: linear-gradient(135deg, #13f1fc 0%, #0470dc 100%);
  }
  50% {
    background: linear-gradient(135deg, #c3ec52 0%, #0ba29d 100%);
  }
  75% {
    background: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
  }
  100% {
    background: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
  }
}

.browser-notice {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  text-align: center;
}

.browser-notice h3 {
  font-size: 30px;
  line-height: 1.5;
}

/* ////// RESPONSIVE \\\\\\ */

@media only screen and (max-width: 1020px) {
  .container {
    padding: 30px;
    justify-content: flex-start;
  }
  .introduction {
    margin-top: 20px;
  }
  .base-zone {
    width: 80%;
  }
}

@media only screen and (max-width: 630px) {
  .container {
    justify-content: flex-start;
  }
  .introduction {
    margin-bottom: 40px;
  }
  .drop-container {
    flex-direction: column;
  }
  .audio-ux, .refresh-button, .lights-on {
    position: initial;
  }
  .lights-on {
    transform: translateY(0)
  }
  .base-container {
    margin-top: 100px;
  }
  .base-zone {
    width: 80%;
  }
}

@media only screen and (max-width: 465px) {
  .introduction p {
    font-size: 16px;
  }
  .base-zone {
    width: 90%;
  }
}