* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  background: linear-gradient(135deg, #0FF0B3 0%, #036ED9 100%);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* ////// TITLE - DESC - LABELS \\\\\\ */

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  color: #fff;
}

.introduction .labels {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.introduction .labels .label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

.label-techno {
  background-color: #c3ec52
}

.label-latino {
  background-color: #f9664f
}

.label-acoustic {
  background-color: #ffb941
}

/* ////// DROP-ZONE \\\\\\ */

.drop-zone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #c2c2c2;
  width: 400px;
  height: 400px;
  margin: 40px 0;
  border-radius: 200px;
  background-color: #ffffff;
  animation-name: grow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  background-image: url("../assets/images/drop-zone.png");
  background-position: center;
  background-repeat: no-repeat;
}

.drop-zone.active {
  animation-duration: 0.4688s;
  /* the length of 1 beat at 128BPM */
}

.drop-zone h2 {
  font-size: 40px;
}

/* ////// BASE-ZONE \\\\\\ */

.base-container {
  width: 100vw;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.base-zone {
  width: 80%;
  min-height: 130px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: space-around;
}

/* ////// BOX ELEMENTS \\\\\\ */

.box {
  touch-action: none;
  user-select: none;
  cursor: move;
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 10px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.box.active {
  animation-duration: 2s;
  animation-name: glow;
  animation-iteration-count: infinite;
}

/* ////// ANIMATIONS \\\\\\ */

@keyframes grow {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0px 0px 20px 10px rgba(22, 22, 74, 0.3);
  }
  100% {
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
  }
}